<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>for Mac OS X 10.5, copyright 2008-2014, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION}  for Mac OS X 10.5, copyright 2008-2014, Tetsuro KURITA</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.osax.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>TTplVers</key>
			<string>VersionHandler</string>
			<key>TTplaplT</key>
			<string>ApplyTitleEventHandler</string>
			<key>TTplgetT</key>
			<string>TitleForTTYEventHandler</string>
			<key>TTplapBG</key>
			<string>ApplyBackgroundColorEventHandler</string>
			<key>TTplgBGc</key>
			<string>BGColorOfTermEventHandler</string>
			<key>TTplmkTb</key>
			<string>MakeTabInHandler</string>
		</dict>
	</dict>
</dict>
</plist>
