<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION} ${COPYRIGHT}, for Mac OS X 10.6 or later</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.osax.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>${COPYRIGHT}, for Mac OS X 10.6 or later</string>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>TTplVers</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>VersionHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>TTplacDr</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>ActivateTabForDirectoryHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>TTplapBG</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>ApplyBackgroundColorEventHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>TTplaplT</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>ApplyTitleEventHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>TTplgBGc</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>BGColorOfTermEventHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>TTplgetT</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>TitleForTTYEventHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>TTplmkTb</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>MakeTabInHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
